<% content_for :title, "Editing busca" %>

<h1>Editing busca</h1>

<%= render "form", busca: @busca %>

<br>

<div>
  <%= link_to "Show this busca", @busca %> |
  <%= link_to "Back to buscas", buscas_path %>
</div>
